    body {
            background: url('images/post.jpg') no-repeat center center fixed;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        }

    .form-container {
        background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        width: 40%;
        max-width: 700px;
        min-width: 400px;
        }

        /*body {
            background-color: rgb(69, 182, 146);
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .form-container {
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
            width: 40%;
            max-width: 700px;
            min-width: 400px;
        }*/

        h2 {
            color: #333;
            margin-bottom: 20px;
            text-align: center;
        }

        label, .file-size-info, input, select, textarea, button {
            display: block;
            width: 100%;
            margin: 10px 0;
        }

        input, select, textarea {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        textarea {
            resize: vertical;
            height: 100px;
        }

        button {
            background-color: #2aacc0;
            color: white;
            border: none;
            padding: 12px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
        }

        button:hover {
            background-color: #3294b2;
        }

        .language-selector {
            margin-bottom: 20px;
            text-align: center;
        }

        .language-selector select {
            width: auto;
            padding: 8px;
            font-size: 14px;
        }

        @media (max-width: 768px) {
            .form-container {
                width: 90%;
            }
        }





