.main-header {
    background-color: #FEFAEF;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 8px;
}

.logo-image {
    padding: 5px;
    height: 85px;
}

.main-header button {
    padding: 8px 16px;
    background-color: #1f5437;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 30px;
}

.Background-image{
    height: 40%;
    width: 100%;
}
/* Categories */
h1,h2{
text-align: center;
}
.Categories-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 20px; /* Space between the products */
    justify-items: center; /* Center the items horizontally */

}
.Categorie-col{
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    width: 100%; /* Take full width in each grid cell */
    max-width: 350px; /* Optional: Limit the product card width */
    text-align: center;

}
.Categorie-col img{
    max-width: 100%;
    border-radius: 5px;

}
.Categorie-col p{
    padding: 0;
    text-align: center;
}
.Categorie-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.Categorie-col button{
    background-color: blue;
    cursor: pointer; 
    text-align: center;
    color: white;
    font-weight: bold;
    display: block; 
    margin: 20px auto;
    padding: 8px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
.Hfooter{
    background-color: #FEFAEF; 
    padding: 20px;
    text-align: center;
    font-size: 14px;
    border-top: 2px solid #FEFAEF;
}